<link rel="import" href="../../bower_components/polymer/polymer-element.html"><dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/2910/2910309.svg" alt="" width="100px" height="100px">
       </div>
       <div class="row">
         <button on-click="incrementar" type="button" name="button" class="btn btn-success">Cargar datos</button>
       </div>
       <div class="row">
        <span>Data binding - Enlazado de datos</span>
        <hr>
        Bidireccional (two ways): <input type="text"  value{{prop1::input}} >
        <hr>
        Unidireccional (one ways): <input type="text"  value[[prop1]] >
       </div>

       <div class="row">
         <table class="table table-striped">
           <thead>
             <th>ID</th>
             <th>Nombre</th>
             <th>Apellido</th>
           </thead>
           <tbody>
             <tr>
               <td>[[prop2]]</td>
               <td>Selena</td>
               <td>Mora</td>
             </tr>
             <tr>
               <td>2</td>
               <td>Elena</td>
               <td>Nito</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
   </template>

   <script>
     /**
      * @customElement
      * @polymer
      */
      class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 100
          },
          prop3: {
            type: String,
            value: 'Proporcione su usuario'
          }
        };
      }
      incrementar() {
         this.prop2 += 1;
         console.log("prop1: " + this.prop1);
         console.log("prop2: " + this.prop2);
      }

    }    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
